@import 'https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=VT323&display=swap';

.sprite {
    image-rendering: pixelated;
    transition: ease .5s;
}

.sprite:hover {
    transition: ease .5s;
    animation: float 1.5s ease-in-out infinite;
}

* {
    outline: none;
}

.pixelify, .pixelify * {
    font-family: 'VT323', sans-serif !important;
    font-weight: 300 !important;
}

.centered {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.pokemon-item img {
    max-width: 100%; /* ou la valeur que tu souhaites */
    height: auto;
    
}

.pokemon-section {
    overflow-x: hidden; /* Cela masquera le défilement horizontal */
}

.max-width-item {
    max-width: 100%; /* ou la valeur que tu souhaites */
    width: 100%;
}

.pokemon-grid {
    margin: 0;
    padding: 0;
}

@keyframes float {
    0% {
        transform: translateY(0px) scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
    }

    50% {
        transform: translateY(-15px) scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
    }

    100% {
        transform: translateY(0px) scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
    }
}