@page "/"
@using Hamamon.Components.HamaComponent

<PageTitle>PokeList</PageTitle>

<section style="min-height: 100vh; width: 100%; background: #525252" class="pokemon-section">

    <MudStack Class="py-2" Row Justify="Justify.Center">
        <MudText Class="pixelify" Typo="Typo.h1" Style="color: #fff">Choose your pokémon</MudText>
    </MudStack>

    <MudGrid Justify="Justify.SpaceAround" Spacing="0" >
        
        <MudItem xs="8">
            <MudGrid Justify="Justify.Center" Spacing="0" Class="pokemon-grid">
                @for (int i = 1; i <= 151; i++)
                {
                    var link = $"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-vii/icons/{i}.png";
                    var id = i;

                    <HamaItem Id="@id" Src="@link" />
                }
            </MudGrid>
        </MudItem>

    </MudGrid>

</section>



